body{
    background-image: url(../images/background.png)
}

.card-body{
    background-color: orange;
    color:white;
    font-weight:bold;
    font-size: 45px;

}

.info{
    background-color:peachpuff;
    color:green;
    font-weight: bold;
    font-size: 20px;
}

.target{
    background-color: aquamarine;
    color: purple;
    height: 75px;
    width:75px;
    margin-left: 0%;
    font-size: 30px;

}

.wins{
    background-color: aqua;
    

}

.score{
    background-color: teal;
    color:white;
    width:200px;
    height: 50px;
    margin-left: 0%;
   
}

.crystal{
    margin-right: 10px;
    margin-bottom: 10px;
}